<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Analise</title>
</head>
<body>
    <ul>
        <div class="classynav">
            <a href="{% url 'index' %}"><button type="button" class="btn btn-dark">Home Page</button></a>
            <a href="{% url 'upload' %}"><button type="button" class="btn btn-dark">Upload</button></a>
            <a href="{% url 'logout' %}"><button type="button" class="btn btn-dark">Logout</button></a> 
            <a href="{% url 'importacoes' %}"><button type="button" class="btn btn-dark">Importacoes</button></a>      
        </div>
    </ul>
    <div>
        <ul>
            <h1>Transacoes Suspeitas</h1>
            <table class="table table-bordered">
                
                <thead>
                    <thead>
                        <tr>   
                            <th scope="col" colspan="3">Origem</th>
                            <th scope="col" colspan="2">Destino</th>
                            <th scope="col" colspan="1">Valor</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th scope="col">Banco</th>
                            <th scope="col">Agencia</th>
                            <th scope="col">Conta</th>
                            <th scope="col">Banco</th>
                            <th scope="col">Conta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for x in transacoes_suspeitas %}
                            <td>{{x.valor_da_transacao}}</td>
                            {% endfor %}
                            {% for x in contas_suspeitas %}
                            <td>{{x.valor_movimentado}}</td>
                            {% endfor %}
                            {% for x in agencias_suspeitas %}
                            <td>{{x.valor_movimentado}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </thead>
                
            </table>
        </ul>    
    </div>
    <div class="copyright">
        By <a href="https://github.com/NiRovil">Nicolas Vilela</a>.
    </div>
</body>
</html>