{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'site.css'%}">
    <title>Cadastro</title>
</head>
<body>
    <div class="container" >
        <a class="links" id="cadastro"></a>
          <!--FORMULÁRIO DE CADASTRO-->
            <div id="cadastro">
                <form method="post" action="{% url 'cadastro' %}"> 
                    {% csrf_token %}
                    <h1>Cadastro</h1> 
                    <p> 
                        <label for="nome_cad">Seu nome</label>
                        <input id="nome_cad" name="nome" required="required" type="text" placeholder="Nicolas Vilela" />
                    </p>

                    <p> 
                        <label for="email_cad">Seu e-mail</label>
                        <input id="email_cad" name="email" required="required" type="email" placeholder="nicolasvilela@hotmail.com"/> 
                    </p>

                    <p> 
                        <input type="submit" value="Cadastrar"/> 
                    </p>

                    <p class="link">  
                        Já tem conta?
                        <a href="{% url 'login' %}"> Ir para Login </a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


