<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home page</title>
</head>
<body>
    <div class="classynav">
        <ul>
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}"><button type="button" class="btn btn-dark">Admin</button></a>
            {% endif %}
            <a href="{% url 'logout' %}"><button type="button" class="btn btn-dark">Logout</button></a>
            <a href="{% url 'upload' %}"><button type="button" class="btn btn-dark">Upload</button></a>
            {% else %}
            <a href="{% url 'cadastro' %}"><button type="button" class="btn btn-dark">Cadastro</button></a>
            <a href="{% url 'login' %}"><button type="button" class="btn btn-dark">Login</button></a>
            {% endif %}
            <a href="{% url 'importacoes' %}"><button type="button" class="btn btn-dark">Tabela</button></a>
        </ul>
        <div class="copyright">
            By <a href="https://github.com/NiRovil">Nicolas Vilela</a>.
        </div>
</body>
</html>