<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivos</title>
</head>
<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Data da publicacao</th>
                <th scope="col">Data das transacoes</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
            <tr>
                <th scope="row">{{data.id}}</th>
                <td>{{data.data_publicacao_banco}}</td>
                <td>{{data.data_transacao_banco}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>