{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="w3-content" style="max-width:2000px;margin-top:46px">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        <form method="post" action="{% url 'cadastro' %}"> 
            {% csrf_token %}
            <h2>Cadastro</h2> 
            <h3 class="w3-center">Seu nome</h3>
            <p> 
                <input id="nome_cad" style="width: 400px;" name="nome" required="required" type="text" placeholder="Nicolas Vilela" />
            </p>
            <h3 class="w3-center">Seu e-mail</h3>
            <p> 
                <input id="email_cad" style="width: 400px;" name="email" required="required" type="email" placeholder="Digite seu email. A senha aparecerá na tela após o cadastro."/> 
            </p>
            <p> 
                <button type="submit" class="w3-button w3-white w3-border w3-border w3-round-large">Cadastrar</button> 
            </p>
            <p>
                Já tem conta?
                <a href="{% url 'login' %}"> Ir para Login </a>
            </p>
        </form>
    </div>
</div>

{% endblock %} 